@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #36393e;
  color: white;
  overflow-x: hidden;
}

table { 
  table-layout: fixed; width: 100%; 
}

#appName {
  text-align: center;
  font-size: 20px;
  user-select: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.wrapper{
  height: 100%;
  width: 100%;
  /* float: left; */
  
}

.wrapper_text {
  width: 100%;
  float: left;
  vertical-align: left;
}

#filebar {
  width: 100%;
  background-color: #424549;
  border-radius: 4px;
  height: 315px;
  padding-top: 5px;
  overflow-y: scroll;
}

#texthere {
  background-color: #424549;
  color: white;
  font-family: 'Calibri';
  height: 300px;
  width: 95%;
  display: block;
  padding: 10px;
  outline: none;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 4px;
}

.toolbar {
  width: 77%;
}

.tool-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

#left-menu {
  width: 200px;
}