.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #424549;
    border-radius: 10px;
    z-index: 10;
    background-color: #424549;
    width: 300px;
    max-width: 80%;
    color: white;
  }
  
  #poparea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    outline: none;
    border-style:solid;
    resize: none;
    width: 80%;
    height:auto !important;
    background-color: #424549;
    color: white;
  }
  
  .popup.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup-body {
    padding: 10px 15px;
  }